.App {
  text-align: center;
}

.container {
  display: flex;
  max-width: 100% !important;
  width: 100%;
  padding: 0;
  margin: 0;
}

.sidebar {
  width: 25%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.nrby{
  background-color: #1bde95 !important;
  border-color: #1bde95 !important;
  width: 100%;
}

.border-primarys {
  --bs-border-opacity: 1;
  border-color: #1bde95 !important;
}
.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card {
  font-size: 0.9rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
